## <center> Universidad Regional Amazonica Ikiam
##  <center> Facultad de ciencias de la Vida
## <center> Biotecnolog√≠a 
## 6to semestre 
## Silvana Morocho

In [40]:
import itertools

In [41]:
import matplotlib.pyplot as plt

In [42]:
import re

In [43]:
import csv

In [44]:
import pandas as pd

In [35]:
with open ('./PubMed.txt', encoding='utf-8-sig') as f:
    datos = f.read()

datos = re.sub(r'\n\s{6}', ' ', datos)

dat = re.findall (r"\,\s[A-Z]+[A-z]{2,11}\.", datos)
unique_dat = list(set(dat))
unique_dat.sort ()
print(unique_dat)

##No se requiere eliminar archivos ni direcciones no vinculadas a los paises. 


a = "".join(unique_dat)
b = a.split(", ")
c = "".join(b)
Relacion = c.split(".")
print("Countries: ", Relacion)

[', Argentina.', ', Canada.', ', France.', ', Germany.', ', Spain.', ', USA.']
Countries:  ['Argentina', 'Canada', 'France', 'Germany', 'Spain', 'USA', '']

In [49]:
len(Relacion)

7

In [48]:
data = pd.read_csv('./countries.csv', engine='python', skipfooter=3)
data.head(20)

   country   latitude   longitude                    name
0       AD  42.546245    1.601554                 Andorra
1       AE  23.424076   53.847818    United Arab Emirates
2       AF  33.939110   67.709953             Afghanistan
3       AG  17.060816  -61.796428     Antigua and Barbuda
4       AI  18.220554  -63.068615                Anguilla
5       AL  41.153332   20.168331                 Albania
6       AM  40.069099   45.038189                 Armenia
7       AN  12.226079  -69.060087    Netherlands Antilles
8       AO -11.202692   17.873887                  Angola
9       AQ -75.250973   -0.071389              Antarctica
10      AR -38.416097  -63.616672               Argentina
11      AS -14.270972 -170.132217          American Samoa
12      AT  47.516231   14.550072                 Austria
13      AU -25.274398  133.775136               Australia
14      AW  12.521110  -69.968338                   Aruba
15      AZ  40.143105   47.576927              Azerbaijan
16      BA  43.915886   17.679076  Bosnia and Herzegovina
17      BB  13.193887  -59.543198                Barbados
18      BD  23.684994   90.356331              Bangladesh
19      BE  50.503887    4.469936                 Belgium

In [50]:
data = data[data.name.isin(Relacion)]
data.head(20)

   country   latitude   longitude       name
10      AR -38.416097  -63.616672  Argentina
35      CA  56.130366 -106.346771     Canada
53      DE  51.165691   10.451526    Germany
64      ES  40.463667   -3.749220      Spain
71      FR  46.227638    2.213749     France